.user-details{
    background-color: white !important;
    padding: 25px;
    border-radius: 0 0 10px 10px;

    &__collapses-menu{
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--title {
                font-weight: bold;
                font-size: 1.2rem;
            }

            &--link {
                font-weight: 500;
                color: grey;
                cursor: pointer;
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  
}