.modal-container{
    height: 200px;

    &__body{
        &--category{
            margin-top: 20px
        }
        &--select{
            width: 100% !important;
        }
        &--comment{
            margin-top: 20px
        }
        &--button{
            margin-top: 20px
        }
    }
}